<html>
<body>
<form action="{{ url_for('predict_datapoint') }}" method="POST">
    <div class="form-group">
        <label for="age">Age of Person:</label>
        <input type="text" id="age" name="age" placeholder="Enter age of person (int)">
    </div>
    <br>
    <div class="form-group">
        <label for="limit_bal">Credit Limit:</label>
        <input type="text" id="limit_bal" name="limit_bal" placeholder="Enter credit limit (int)">
    </div>
    <br>
    <div class="form-group">
        <label for="bill_amt1">Bill Amount 1:</label>
        <input type="text" id="bill_amt1" name="bill_amt1" placeholder="Enter bill amount 1 (float)">
    </div>
    <br>
    <div class="form-group">
        <label for="pay_amt1">Payment Amount 1:</label>
        <input type="text" id="pay_amt1" name="pay_amt1" placeholder="Enter payment amount 1 (float)">
    </div>
    <br>
    <div class="form-group">
        <label for="sex">Sex or Gender of Person:</label>
        <select id="sex" name="sex">
            <option value="1">MALE</option>
            <option value="2">FEMALE</option>
        </select>
    </div>
    <br>
    <div class="form-group">
        <label for="education">Education Level:</label>
        <select id="education" name="education">
            <option value="1">Graduate School</option>
            <option value="2">University</option>
            <option value="3">High School</option>
            <option value="4">Others</option>
        </select>
    </div>
    <br>
    <div class="form-group">
        <label for="marriage">Marriage Status:</label>
        <select id="marriage" name="marriage">
            <option value="1">Married</option>
            <option value="2">Single</option>
            <option value="3">Others</option>
        </select>
    </div>
    <br>
    <div style="clear:both;"></div>
    <input type="submit" value="Submit">
</form>
</body>
</html>
